[MASTER]
ignore = .git
init-hook = 'import sys, os; sys.path.append(os.getcwd())'
load-plugins = pylint_quotes

[MESSAGES CONTROL]
enable = all
disable = missing-module-docstring,
          missing-class-docstring,
          missing-function-docstring,
          too-few-public-methods,
          locally-disabled,
          suppressed-message,
          broad-except,
          global-statement

[BASIC]
good-names = i, j, k, ex, fd, rd, wr, ok, _

[SIMILARITIES]
ignore-imports = yes
