[Unit]
Description=NayDuck Builder
After=network.target

[Service]
Restart=always
User=nayduck
Group=nayduck
WorkingDirectory=/home/nayduck/nayduck
ExecStart=/usr/bin/python3 -m workers.builder

[Install]
WantedBy=multi-user.target
