[Unit]
Description=NayDuck Worker
After=network.target nayduck-fuzzer.service

[Service]
Restart=always
User=nayduck
Group=nayduck
WorkingDirectory=/home/nayduck/nayduck
ExecStart=/usr/bin/python3 -m workers.worker

[Install]
WantedBy=multi-user.target
