[Unit]
Description=NayDuck UI Server
After=network.target

[Service]
Restart=always
User=nayduck
Group=nayduck
WorkingDirectory=/home/nayduck/nayduck
ExecStart=/usr/bin/python3 -m backend.backend

[Install]
WantedBy=multi-user.target
