* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
               'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
               'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  text-decoration: none;
}

.big {
  border-collapse: collapse;
  overflow-wrap: break-word;
  width: 100%;
}
td, th {
  padding: 0.5em;
}
.big td, .big th {
  border: 1px solid #ddd;
  border-width: 1px 0;
}

th {
  text-align: center;
  background-color: #4CAF50;
  color: #fff;
}

th input {
  width: 100%;
}
td button {
  padding: 0;
}

.with-features td:nth-child(2) {
  font-size: 0.625em;
}

div.blob {
  max-height: 20em;
  overflow: auto;
  font-variant: lining-nums slashed-zero;
  font-family: DejaVu Sans Mono, Source Code Pro, Liberation Mono, Courier New, monospace;
  white-space: pre-wrap;
}
small.blob {
  font-style: italic
}

.status {
  display: inline-block;
  margin: 0.125em;
  padding: 0.125em 0.25em;
  border-radius: 0.5em;
  color: #000;
}

.status-passed       { background: #008000 }
.status-failed       { background: #ff0000 }
.status-timeout      { background: #f0a3aa }
.status-build_failed { background: #864E4E }
.status-canceled     { background: #FCF88C }
.status-ignored      { background: #808080 }
.status-pending      { background: #ED8CFC }
.status-running      { background: #697DCB }

.build_status-pending      { background: #ff99ff }
.build_status-building     { background: #9999ff }
.build_status-build_done   { background: #ccffcc }
.build_status-skipped      { background: #ccffcc }
.build_status-build_failed { background: #ffcccc }

.text-failed       { color: #ff0000 }
.text-build_failed { color: #ff0000 }
.text-passed       { color: #008000 }
.text-build_done   { color: #008000 }
.text-skipped      { color: #008000 }
.text-running      { color: #0000FF }
.text-building     { color: #0000FF }
.text-other        { color: #808080 }
.text-pending      { color: #ED8CFC }

.log-failed  { color: #ff0000 }
.log-delayed { color: #ffa500 }
.log-normal  { color: #0000ff }

.logout{
  all: unset;
  width: 100px;
  height: 35px;
  margin: 10px 10px 10px 10px;
  align-self: flex-end;
  background-color: #0041C2;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #0041C2;
  cursor: pointer;
}

.section-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.div-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:45%;
}

.github-login {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.history {
  font-size: 0.75em;
}
.history small {
  font-size: 0.833em;
}
.history ul, .history li {
  padding: 0;
  display: inline;
}
.history li {
  margin: 0 0.25em;
  font-variant: small-caps;
}
